 #webbypet {
        width:fit-content;
        height:fit-content;
        position: fixed;
        left: 0vw;
        top:0vh;
        cursor:grab;
      }
#speechbubble {
    background-color: #fff2b2;
    position: relative;
    left: 50px;
    bottom: 50px;
    width: 80px;
}
